@font-face {
    font-family: 'parmainitialenmkregular';
    src: url('fonts/parmainitialenmk-webfont.woff2') format('woff2'),
         url('fonts/parmainitialenmk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Host Grotesk", sans-serif;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

#header {
   display: flex;
   justify-content: center;
   padding: 20px 0;
}

.title {
    font-family: parmainitialenmkregular, sans-serif;
    font-size: 60px;
    font-weight: 300;
}

button {
    padding: 10px 20px;
    background-color: #884dff;
    border-radius: 8px;
    border: 1px solid #884dff;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

input {
    width: 100px;
    flex: 1;
    padding: 10px 8px;
    border-radius: 8px;
    font-size: 14px;
}

#sketch {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#right-column, 
#left-column {
    width: 190px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

#mode-selection {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

#mode-selection img {
    width: 50px;
    height: auto;
}

.img-button {
    transition: transform 0.4 ease;
}

.img-button:active {
    scale: 0.90;
}

#swatch-grid {
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.swatch {
    width: 40px;
    height: 40px;
    border: 2px solid #000;
    border-radius: 8px;
}



#sketch-grid {
    width: 850px;
    height: 850px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    border: 3px solid #0d0d0d;
    margin-bottom: 50px;
}

.row {
    flex: 1;
    display: flex;
}

.square {
    flex: 1;
}

div.square:hover {
    background-color: gray;
}

