* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#user-menu {
   display: flex;
   justify-content: space-between;
   padding: 20px 0;
}

.mode-selection {
    display: flex;
    gap: 20px;
    align-items: center;
}

button {
    padding: 10px 20px;
    background-color: #884dff;
    border-radius: 8px;
    border: 1px solid #884dff;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

input {
    width: 300px;
    flex: 1;
    padding: 10px 8px;
    border-radius: 8px;
    font-size: 14px;
}

#sketch {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}



#sketch-grid {
    width: 850px;
    height: 850px;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    border: 2px solid #0d0d0d;
    margin-bottom: 50px;
}

.row {
    flex: 1;
    display: flex;
}

.square {
    flex: 1;
    border: 1px solid brown;
}

#color-picker {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}


#swatch-grid {
    width: 100px;
    display: flex;
    
    flex-wrap: wrap;
    gap: 16px;
}

.swatch {
    width: 40px;
    height: 40px;
    border: 1px solid #0d0d0d;
    border-radius: 8px;

}



