@font-face {
    font-family: 'parmainitialenmkregular';
    src: url('fonts/parmainitialenmk-webfont.woff2') format('woff2'),
         url('fonts/parmainitialenmk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Host Grotesk", sans-serif;
    margin: 0;
    background-color: #F8EDE3;
}

/* 
color scheme:
- #F8EDE3 background
- #DFD3C3
- #D0B8A8
- #C5705D
(Colors source: https://colorhunt.co/palette/f8ede3dfd3c3d0b8a8c5705d)
*/

#header {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 30px 0;
    background-color: #F8EDE3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
 

.title {
    font-family: parmainitialenmkregular, sans-serif;
    font-size: 60px;
    font-weight: 300;
    margin: 0;
    color: #000;
}

.title span {
    display: inline-block;
}

button {
    padding: 10px 20px;
    background-color: #884dff;
    border-radius: 8px;
    border: 1px solid #884dff;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

input {
    width: 100px;
    flex: 1;
    padding: 10px 8px;
    border-radius: 8px;
    font-size: 14px;
}

#sketch {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 50px;
}

#left-column {
    width: 190px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

#mode-selection {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

#mode-selection img {
    width: 50px;
    height: auto;
}

.img-button {
    transition: transform 0.4 ease;
}

.img-button:active {
    scale: 0.90;
}

#swatch-grid {
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.swatch {
    width: 40px;
    height: 40px;
    border: 2px solid #000;
    border-radius: 8px;
}



#sketch-grid {
    width: 850px;
    height: 850px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row {
    flex: 1;
    display: flex;
}

.square {
    flex: 1;
}

div.square:hover {
    background-color: gray;
}

#right-column {
    min-width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-basis: auto;
    gap: 50px;
}



.screenshot {
    width: 67px;
    height: auto;
    margin: 0 10px;
}

#grid-size {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.resize.small {
    width: 57px;
    height: auto;
}

.resize.medium {
    width: 70px;
    height: auto;
}

.resize.big {
    width: 87px;
    height: auto;
}

